@using Microsoft.AspNet.Identity
@using System.Security.Claims

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!--Menu topo-->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" id="navnav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a href="http://localhost:50426/">
                    <div>
                        <img src="~/Content/img/logoazul.png" class="logo" id="logoazul">
                        <img src="~/Content/img/logobranco.png" class="logo" id="logobranco" style="display:none;">
                    </div>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <!--<li>@Html.ActionLink("Quem somos", "Index", "Home")</li>-->
                    <li><a href="#quemsomos" class="page-scroll">Quem somos</a></li>
                    <li><a href="#contato" class="page-scroll">Contato</a></li>
                    <li>@Html.ActionLink("Localização", "Index", "Home")</li>

                    @{
                        if (HttpContext.Current.User.IsInRole("Paciente"))
                        {
                            <li>@Html.ActionLink("Agendamento", "Index", "Agendamento")</li>
                        }
                        else if (HttpContext.Current.User.IsInRole("Medico"))
                        {
                            <li>@Html.ActionLink("Meus Agendamentos", "Index", "ConsultasMedico")</li>
                        }
                    }

                    @Html.Partial("_LoginPartial")

                </ul>
            </div>
        </div>

    </nav>

@if (Request.IsAuthenticated)
{
    var user = (ClaimsIdentity)User.Identity;
    var saudacao = user.Claims.First(c => c.Type == "saudacao").Value;
 
    <div class="col-md-3 col-md-offset-9" style="height:0px;">
        <p class="saudacao">Olá @saudacao</p>
    </div>
}

    <!--Montar Conteúdo-->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        $(window).scroll(function () {
            if ($(window).scrollTop() > 30) {
                $('#logobranco').show();
                $('#logoazul').hide();
            } else {
                $('#logobranco').hide();
                $('#logoazul').show();
            }
        });
    </script>
</body>
</html>
