@model ProjetoAgendamento.Models.Agendamento.AgendamentoModel
@{
    ViewBag.Title = "Doctor9";
    Layout = "";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="~/Content/3.3.4/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/3.3.4/style.min.css" rel="stylesheet">
    <link href="~/Content/3.3.4/docs.css" rel="stylesheet">
    <link href="~/Content/3.3.4/bootstrap-select.css" rel="stylesheet">
    <link href="~/Content/3.3.4/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/grayscale.css" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/3.3.4/calendario.css">
    
    <style>
        body {
            overflow-x: hidden;
        }

    </style>

</head>

<body>
   
        <nav class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation" id="navnav" style="height:73px;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <div>
                        <img src="~/Content/img/logobranco.png" class="logo" id="logobranco">
                    </div>
                </div>
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li><a href="#quemsomos">Quem somos</a></li>
                        <li>@Html.ActionLink("Contato", "Index", "Home")</li>
                        <li>@Html.ActionLink("Localização", "Index", "Home")</li>
                        <li>@Html.ActionLink("Agendamento", "", "Agendamento")</li>
                        @Html.Partial("_LoginPartial")

                    </ul>
                </div>
            </div>
        </nav>
    
        <div class="container">
            <div class="row" style="margin-top:10%;">
                <div class="col-md-12">
                    <div class="col-md-4 col-md-offset-3">
                        <label for="dataMedico">Consultar médico disponível por data:</label>
                        <input type="text" name="dataMedico" id="dataMedico" class="form-control", new { mask = "99/99/9999" } />
                    </div>
                    <div class="col-md-3" style="padding-top:26px;">
                        <button class="btn btn-success" id="#minhasconsultas" onclick="$('#ModalConsulta').modal('show');">Minhas Consultas</button>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3" style="padding-top:28px;">
                    <label for="espec">Especialidade</label>
                    @using (Html.BeginForm())
                    {
                        @Html.DropDownList("idEspecialidade", ViewBag.idEspecialidade as SelectList, "Selecione uma especialidade", new { id = "espec", @class = "form-control", @onchange = "if ($(this).val() == '') {$('#BuscaAgenda').hide();}" })
                    }
                </div>

                <div class="col-md-6 col-md-offset-3" style="margin-top:2%;">
                    <label for="medic">Médico</label>
                    @using (Html.BeginForm())
                    {
                        @Html.DropDownList("idMedico", ViewBag.idMedico as SelectList, "Selecione um médico", new { id = "medic", @class = "form-control", @onchange = "if ($(this).val() != '0') {$('#BuscaAgenda').show();} else {$('#BuscaAgenda').hide();}" })
                    }
                </div>
                
                <div class="row" id="BuscaAgenda" style="display:none;">
                    <div class="col-md-12 col-md-offset-7">
                        <input type="submit" id="ConsAgen" value="Consultar" class="btn btn-default" onclick="$('#divCalendario').show(); Calendario.init();" />
                    </div>
                </div>


                <!-- Modal Minhas Consultas -->
                <div class="modal fade" id="ModalConsulta" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Minhas Consultas</h4>
                            </div>
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Data</th>
                                                    <th>Hora</th>
                                                    <th>Médico</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Consultas)
                                                {
		                                             <tr>
                                                       <td>@item.dataConsulta</td>
                                                       <td>@item.horarioConsulta</td>
                                                       <td>@item.Nome</td>
                                                     </tr>
	                                            }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                            </div>

                        </div>

                    </div>
                </div>   

                

                <!-- Modal Agendamento -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h5 class="modal-title">Agendar horário</h5>
                            </div>
                            @using (Html.BeginForm("AgendamentoConsulta", "Agendamento", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "dadosAgendamento" }))
                            {
                                <div class="modal-body">
                                    <div class="row form-group">
                                        <div class="col-md-12">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="HjAgenda">Hoje</label>
                                                    <input type="text" class="form-control text" id="HjAgenda" name="HjAgenda" value="" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="diaAgenda">Data Agendamento</label>
                                                    <input type="text" class="form-control text" id="diaAgenda" name="diaAgenda" value="" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="hrAgenda">Hora Agendamento</label>
                                                    <input type="text" class="form-control text" id="hrAgenda" name="hrAgenda" value="" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="idEspecAgenda">Especialidade</label>
                                                    <input type="text" class="form-control text" id="idEspecAgenda" name="idEspecAgenda" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <label for="idMedicAgenda">Médico</label>
                                                    <input type="text" class="form-control text" id="idMedicAgenda" name="idMedicAgenda" readonly />
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <p>Politica de Agendamento</p>
                                                <ul class="list-group" id="agenpol"></ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-md-offset-5">
                                                <button type="submit" value="Entrar" class="btn btn-success">Salvar Agendamento</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                                </div>
                            
                        </div>

                    </div>
                </div>               
                                
                <div class="col-md-12 col-lg-12" style="margin-top:2%;" id="divCalendario">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="calendario"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <script src="/Content/3.3.4/js/jquery.min.js"></script>
    <script src="/Content/3.3.4/js/bootstrap.min.js"></script>
    <script src="/Content/3.3.4/js/bootstrap-select.min.js"></script>
    <script src="/Content/3.3.4/js/calendario-plugins.js"></script>
    <script src="/Content/3.3.4/js/calendario.js"></script>
    <script src="/Content/3.3.4/js/calendario-pt-br.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/maskedinput-binder.js"></script>
    <script>
        $('#divCalendario').hide();

        $(function () {
            $('#espec').change(function () {
                $.getJSON('/Agendamento/ListaMedico/?Id=' + $('#espec').val() + "&DataDisp=" + $('#dataMedico').val(), function (data) {
                    var items = '';
                    items += "<option value='0'>Selecione um médico</option>";
                    $.each(data, function (i, state) {
                        items += "<option value='" + state.Value + "'>" + state.Text + "</option>";
                    });
                    $('#medic').html(items);
                });
            });
        });

        $('#ConsAgen').click(function () {
            $.ajax({
                url: '/Agendamento/ListaPolitica/?Id=' + $('#espec').val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#agenpol").html('');
                    var divPol = '';
                    for (var i = 0; i < data.length; i++) {
                        divPol += '<li class="list-group-item">' + data[i].descricao + '</li>';
                    }
                    $("#agenpol").append(divPol);
                }
            });
        });
    </script>

</body>
